<div class="main">
    <h1>My Favorites Recipes ❤️</h1>

    @if (loading) {
      <p>Loading...</p>
    }

    <div class="recipes-container">

      @for (recipe of favorites; track recipe.idMeal) {

        <div class="recipe-card">
          <img [src]="recipe.strMealThumb" />
          <div class="content">
            <h2>{{ recipe.strMeal }}</h2>
            <p>{{ recipe.strCategory }}</p>
            <div class="rating">

              @for (star of [1,2,3,4,5]; track star) {
                <span
                  (click)="updateRating(recipe.idMeal, star)">
                  {{ star <= recipe.rating ? '⭐' : '☆' }}
                </span>
              }
            </div>
          </div>
        </div>
      }
    </div>
      @if (!loading && favorites.length === 0) {
      <p>No favorites yet.</p>
    }
</div>
